<h1>
    <%=data%>
        <%=data.user%>
            <%=data.id%>
                <%for (var i=0;i<data.length;i++){%>
                    <li>
                        <%=data[i]%>
                            <%=data[i]%>
                    </li>
                    <%}%>
</h1>